// $--color-primary: #1890ff;
// $--color-success: #13ce66;
// $--color-warning: #ffba00;
// $--color-danger: #ff4949;
// $--color-info: #5d5d5d;
// $--button-font-weight: 400;
// $--color-text-regular: #1f2d3d;
// $--border-color-light: #dfe4ed;
// $--border-color-lighter: #e6ebf5;
// $--table-border: 1px solid #dfe6ec;
// TODO: 覆写未生效
/* Element Variables */
$--colors: (
  'primary': (
    'base': #1890ff,
  ),
  'success': (
    'base': #13ce66,
  ),
  'warning': (
    'base': #ffba00,
  ),
  'danger': (
    'base': #ff4949,
  ),
  'error': (
    'base': #db2828,
  ),
  'info': (
    'base': #5d5d5d,
  ),
);
$--text-color: (
  'regular': #1f2d3d,
);
$--border-color: (
  'light': #dfe4ed,
  'lighter': #e6ebf5,
);
$--table-border: 1px solid #dfe6ec;

// Icon font path, required
// TODO: 找不到该目录
// $--font-path: '~element-plus/lib/theme-chalk/fonts';
// $--font-path: '../assets/theme-chalk/fonts';

// Override Element Plus variables
/* 只需要重写需要的即可 */
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  // do not use same name, it will override.
  $colors: $--colors,
  $color-primary: #00f,
  $text-color: $--text-color,
  $border-color: $--border-color,
  // $table-border: $--table-border,
  $button-border-radius: ('large': 8px, 'default': 8px, 'small': 8px)
);

// 如果只是按需导入，则可以忽略以下内容。
/* 导入所有样式 */
// @use 'element-plus/theme-chalk/src/index.scss' as *;

// Apply overrided variables in Element UI
// TODO: 找不到该目录
// @import '~element-plus/theme-chalk/src/index';

// The :export directive is the magic sauce for webpack
// https://mattferderer.com/use-sass-variables-in-typescript-and-javascript
:export {
  theme: #1890ff;
}
